<h2>Sign Up</h2>
<form action="/users/new" method="POST">
    <p> 
    <label for="username">Username</label>   
    <input type="text" name="username">
    </p>

    <p> 
    <label for="password">Password</label>   
    <input type="password" name="password">
    </p>

    <p> 
    <label for="password_confirmation">Password Confirmation</label>   
    <input type="password" name="password_confirmation">
    </p>

    <p><input type="submit" value="Sign Up"></p>
</form>
 