<h2>Where would you like to go?</h2>
    

    <p>
    <a href='/reviewpages'><input type="button" value="Reviews"></a>
    </p> 

    
    <form method='get' action='/logout'>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Log Out">
    </form>
    
    
    