<h1>All Reviews</h1>

<label>Reviews:</label><br>
<ul>
<% @reviewpages.all.each do |reviewpage| %>
    <li><a href="/reviewpages/<%= reviewpage.id %>"><%= reviewpage.museum_name %></a></li>
<% end %>
</ul>

<p>
 <a href="/reviewpages/new"><input type="button" value="Write a Review"></a>
</p>