<h1>All Reviews</h1>

<p>
<ul>
<% @reviewpages.all.each do |reviewpage| %>
    <li><a href="/reviewpages/<%= reviewpage.id %>"><%= reviewpage.museum_name %></a></li>
<% end %>
</ul>
</p>
<p>
 <a href="/reviewpages/new"><input type="button" value="Write a Review"></a>
</p>
<p>
<form method='get' action='/logout'>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Log Out">
</form>
</p>