<h1>Create a new Review</h1>

<form method='POST' action='/reviewpages'>
    <p>
        <label>Museum Name:</label>
    </p>
    <p>
        <input type='text' name='reviewpage[museum_name]' id='reviewpage_museum_name'/>
    </p>
    <p>
        <label>Location:</label>
    </p>
    <p>
        <input type='text' name='reviewpage[location]' id='reviewpage_location'/>
    </p>
    <p>
        <label>Date Visited:</label>
    </p>
    <p>
        <input type='text' name='reviewpage[date_visited]' 
        id='reviewpage_date_visited'/>
    </p>
    <p>
        <label>Content:</label>
    </p>
    <p>
        <textarea rows="5" cols="30" name='reviewpage[content]' id='reviewpage_content'/></textarea>
    </p>

    <p>
        <input type='submit' value='Create Review'>
    </p>
</form>