<h1>Create a new Review</h1>

<form action='/reviews' method='POST'>
    <p>
        <label>Choose an existing museum:</label>

    <% @museums.all.each do |museum| %>
        <input type="radio" name="review[museum_id]" id="<%= museum.id %>" value="<%= museum.id %>"/> 
        <label for="<%= museum.id %>"><%= museum.name %></label>
    <% end %>
    </p>
    
    <p>
        <label>Title:</label>
    </p>
    <p>
        <input type='text' name='review[title]' id='review_title'>
    </p>
    <p>
        <label>Date Visited:</label>
    </p>
    <p>
        <input type='text' name='review[date_visited]' 
        id='review_date_visited'>
    </p>
    <p>
        <label>Content:</label>
    </p>
    <p>
        <input type='text' name='review[content]' id='review_content'>
    </p>

    <p>
        <input type='submit' value='Create Review'>
    </p>
</form>